:root{
 --red: #DF1420;
 --gold: #FFD700;
 --white: #EAEAF1;
 --gray: #95949d;
 --background: #14DFD3;
}

*{
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background);
}

h1 {
    text-align: center;
    color: var(--gold);
    background-color: var(--red);
    border: solid var(--red);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-family: 'Caveat', cursive;
    font-size: 50px;
    width: 822px;
    margin: 0;
}

.grid-container {
    width: 700px;
    height: 700px;
    display: grid;
    border: solid var(--red);
    border-width: 0 4rem;
    background-color: var(--gray);
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 700px;
    align-items: center;
    background-color: var(--red);
    padding: 20px 64px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid var(--white);
    background-color: var(--white);
    box-shadow: 0 0 10px black;
}